# Masukkan URI dari MongoDB Atlas Anda di sini
# Contoh: mongodb+srv://username:password@cluster0.xxx.mongodb.net/GSB_LMS
MONGODB_LMS_URI="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=gsb-lms"

# Secret untuk NextAuth (bisa di-generate sembarang untuk lokal)
NEXTAUTH_SECRET="your-super-secret-nextauth-key-123"
NEXTAUTH_URL="http://localhost:3000"

# Secret Key untuk verifikasi Token Internal (Antar Service/JWT gsb-web)
INTERNAL_JWT_SECRET="your-internal-jwt-secret-key"

# Secret Key untuk fitur-fitur legacy (opsional)
LEGACY_JWT_SECRET="your-legacy-jwt-secret-key"
